body{
    background-color: rgb(29, 29, 59);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 1.5em;
  }


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@font-face {
    font-family: 'AnnieUseYourTelescope-Regular';
    src: url('../fonts/AnnieUseYourTelescope-Regular.ttf') format('truetype');
 }
 


.cabeçalho{
    width: 100vw;
    height: 81vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)),  url('../img/code\ 2.webp');
    background-repeat: no-repeat;
     background-size: cover; 
     background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    
}


.cabeçalho ul {
    width: 90vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
     margin: 0;
    
}

.cabeçalho ul a {
       font-family: AnnieUseYourTelescope-Regular;
       padding: 3px;
       font-size: 45px;
       text-decoration: none;
       color: white;
}



.conteudo{
    position: relative;
    width: 100vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(234, 241, 241), rgb(195, 221, 228), rgb(162, 191, 230))
}


.conteudo h1 {
    height: 0;
    position: absolute;
    top: 30vh;
    font-family: AnnieUseYourTelescope-Regular;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.conteudo .sobre-mim{
    position: absolute;
    width: 230px;
    height: 380px;
    top: 50%;
    left: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 15px 15px 5px 5px rgba(0,0,0,0.3)
}

.card{
    position: absolute;
    width: 230px;
    height: 380px;
    border-radius: 10px;
}



.card h1{

    position: absolute;
    font-size: 15px;
    font-family: sans-serif;
    left: 3%;
}

.card h2{
    position: absolute;
    font-size: 15px;
    font-family: sans-serif;
    top: 68%;
    left: 30%;
}

.card img {
    position: absolute;
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.card p {
    position: absolute;
    top: 55%;
    left: 3%;
}

.card .bio{
    position: absolute;
    font-size: 12px;
    font-family: sans-serif;
    top: 75%;
    left: 4%;
}

.img-code{
    position: absolute;
    left: 30vw;
    top: 170vh;
    width: 40vw;
    height: 42vh;
    border-radius: 10px
}

.img-perfil{
    width: 100%;
    display: block;
    margin: auto;
    position: absolute;
    background-size: cover;
    border-radius: 10px;
}

.bg-projetos{
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.bg-projetos h1{
    color: white;
    font-size: 50px;
    top: 220vh;
}



.links{
    position: relative;
    top: 100vh;
    width: 100vw;
    height: 120vh;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: center;
       
    
}

.projetos a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    font-family: sans-serif;
    padding: 1em;
    width: 40%;
    margin-bottom: 7px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
    font-size: 1.3em;
    position: relative;
    transition: 0.4s ease-in;
    box-shadow: 10px 10px 7px 5px rgba(0,0,0,0.3);
   
}

.projetos a:hover {
    transform: scale(1.03);
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: white;
    
}


.links-redes-sociais{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    top: 120vh;
    
}

.minhas-redes-sociais{
    position: relative;
    top: 110vh;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: AnnieUseYourTelescope-Regular;
}

.facebook {
    color: rgb(255, 255, 255);
    font-size: 35px;
    position: relative;
    text-decoration: none;
    background-color: #3b5998;
    border: none;
    outline: none;
    padding: 4px;
    box-shadow: 15px 15px 10px 5px rgba(0,0,0,0.3);
}


.github {
    position:  relative;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-decoration: none;
    background-color: #000000;
    padding: 5px;
    box-shadow: 15px 15px 10px 5px rgba(0,0,0,0.3);

}




 

/* ------------------style mobile--------------------------  */

@media screen and (min-width: 300px) and (max-width: 768px){
    
html{
    overflow-x: hidden;
}

    .cabeçalho{
     width: 100vw;
     height: 32vh;
}


.cabeçalho ul {
    width: 90vw;
    right: 3vw;    
}

.cabeçalho ul a {
    font-size: 30px;
}


.conteudo h1 {
    top: 25vh;
    font-size: 30px;
}



.bg-projetos h1{
    font-size: 40px;
    top: 220vh;
}


.conteudo .sobre-mim{
    width: 80vw;
    height: 35vh;
    top: 95vh;
    left: 10vw;
}

.conteudo .sobre-mim p {
    font-size: 18px;
}


.conteudo .sobre-mim .img-code{
    right: 50vw;
    top: 40vh;
    width: 80vw;
    height: 35vh;
     position: relative;
     left: 1vw;
    
}

.img-perfil{
    width: 70px;
    height: 70px;
}

.minhas-redes-sociais{

    top: 100vh;
    text-align: center;
    font-size: 40px;
}



.links-redes-sociais{
    width: 80vw;
    top: 100vh;
    
}


.github{
    font-size: 25px;
}

.facebook{
    font-size: 25px;
    right: 6vw;
}

.projetos a{   
    padding: 1em;
    width: 60%;
    font-size: 1.3em;
}


}