body{
    background-color: rgb(29, 29, 59);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 1.5em;
  }


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@font-face {
    font-family: 'AnnieUseYourTelescope-Regular';
    src: url('../fonts/AnnieUseYourTelescope-Regular.ttf') format('truetype');
 }
 


.cabeçalho{
    width: 100vw;
    height: 81vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)),  url('../img/code\ 2.webp');
    background-repeat: no-repeat;
     background-size: cover; 
     background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    
}


.cabeçalho ul {
    width: 90vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
     margin: 0;
    
}

.cabeçalho ul a {
       font-family: AnnieUseYourTelescope-Regular;
       padding: 3px;
       font-size: 45px;
       text-decoration: none;
       color: white;
}



.conteudo{
    position: relative;
    width: 100vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(234, 241, 241), rgb(195, 221, 228), rgb(162, 191, 230))
}


.conteudo h1 {
    height: 0;
    position: absolute;
    top: 45vh;
    font-family: AnnieUseYourTelescope-Regular;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.conteudo .sobre-mim{
    position: absolute;
    width: 40vw;
    height: 42vh;
    top: 60%;
    left: 2%;
    background-color: white;
    border-radius: 10px
}


.conteudo .sobre-mim h2 {
    color: rgb(51, 47, 47);
    font-family: AnnieUseYourTelescope-Regular;
    font-size: 30px;
    top: 50px;
    text-align: center;
}

.conteudo .sobre-mim p {
     font-family: sans-serif;
     font-size: 20px;
     text-align: center;
     
     
}

.img-code{
    position: absolute;
    left: 50vw;
    top: 70vh;
    width: 40vw;
    height: 42vh;
    border-radius: 10px
}

.img-perfil{
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 10%;
    border-radius: 20%;
    background-size: cover;
    
}

.bg-projetos{
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.bg-projetos h1{
    color: white;
    font-size: 50px;
    top: 220vh;
}



.links{
    position: relative;
    top: 100vh;
    width: 100vw;
    height: 120vh;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: center;
       
    
}

.projetos a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    font-family: sans-serif;
    padding: 1em;
    width: 40%;
    margin-bottom: 7px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
    font-size: 1.3em;
    position: relative;
    transition: 0.4s ease-in;
    box-shadow: 10px 10px 7px 5px rgba(0,0,0,0.3);
   
}

.projetos a:hover {
    transform: scale(1.03);
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: white;
    
}


.links-redes-sociais{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    top: 120vh;
    
}

.minhas-redes-sociais{
    position: relative;
    top: 110vh;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: AnnieUseYourTelescope-Regular;
}

.facebook {
    color: rgb(255, 255, 255);
    font-size: 35px;
    position: relative;
    text-decoration: none;
    background-color: #3b5998;
    border: none;
    outline: none;
    transition: 0.3s ease-in;
    padding: 4px;
    box-shadow: 15px 15px 10px 5px rgba(0,0,0,0.3);
}


.github {
    position:  relative;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-decoration: none;
    background-color: #000000;
    padding: 5px;

}




 

/* ------------------style mobile--------------------------  */

@media screen and (min-width: 300px) and (max-width: 768px){
    



.projetos a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    font-family: sans-serif;
    padding: 1em;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
    position: relative;
    box-shadow: 15px 15px 10px 5px rgba(0,0,0,0.3);

}

.minhas-redes-sociais{
    position: absolute;
    left: 70%;
    font-size: 15px;
    margin-top: 5em;
}

.facebook {
    position:  relative;
    font-size: 17px;
    left: 70%;
    bottom: 41.5em;
}


.github {
    position:  relative;
    font-size: 17px;
    left: 70%;
    bottom: 41.7em;

}


}